/* Add your styles here */
body {
    background: #f2f2f2;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; /*-------------------*/
    padding: 0;
    margin: 0;
}

a {
    color: #2b6777;
    background-color: transparent;
    text-decoration: none;
}

.nav-bar-element {
    display: inline-block;
    margin-right: 5vw;
    margin-left: 5vw;
}
/*
li {
    display: inline-block;
    margin-right: 5vw;
    margin-left: 5vw;
}
*/

.nav-bar {
    margin: 0;
    padding: 0;
    position: sticky;
    font-size: 2vw;
    justify-content: center;
    margin: auto;
}

.nav-active {
    background-color: coral;
}
/*
.nav-link {
    color: green;
}

.nav-item>a:hover {
    color: green;
}

.nav-bar>.active>a {
    background-color: #C0C0C0;
    color: black;
}
*/

.grid-container {
    display: grid;
    /*background-color: #f2f2f2;*/ 
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

.grid-container::before {
    content: "";
    background-image: url("../background-image.jpeg");
    background-position: center;
    background-size: cover;
    opacity: .66;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.box {
    /*background-color: #c8d8e4;*/
    /*border: 1px solid black;*/

}
.box-header {
    grid-area: header; 
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #52ab98;
}
.box-menu {
    grid-area: box;
    height: 180vh;
    align-items: center;
    /*background-image: url('../self-photo.jpeg');*/
}
.box-main { 
    grid-area: main;
    display: flex;
    flex-direction: column;
    height: 53vh;
}
.box-content { 
    display: flex;
    grid-area: footer;
    height: 42vh;
}

.box-introduction {
    flex: 3;
}

.box-education {
    flex: 1;
}

.name-title {
    text-align: center;
    font-size: 40px;
    font-family: "Monaco";
    flex: 1;
    vertical-align: middle;
}

.circle {
    flex: 5;
    position: relative;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    background: white;
    margin: auto;
    background-image: url('../self-photo.jpeg');
    background-position: center;
    background-size: cover;
    margin-bottom: 1%;
}
