/* Add your styles here */

body {
    background-color: #F7ECDE;
    margin: 0;
}

/* define grid */
.grid-container {
    display: grid;
    /*background-color: #f2f2f2;*/ 
    grid-template-areas: 
        'header'
        'main-page';
}

/* ------------------------------ NAV BAR ------------------------------ */
.nav-bar {
    grid-area: header; 

    height: 5vh;
    width:100%;

    top: 0;
    position: sticky;
    display: flex;

    font-size: 2vw;

    justify-content: center;
    align-items: center;
   
    background-color: #54BAB9;
}

/*nav bar text*/
.nav-bar a {
    color: #F7ECDE;
    text-decoration: none;
}

.nav-bar li {
    display: inline-block;
    margin-right: 5vw;
    margin-left: 5vw;
}

/* ------------------------------ MAIN PAGE ------------------------------ */
.main-page {
    grid-area: main-page;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

@media (max-width: 600px) {
    .main-page { 
        grid-template-columns: none;
        grid-template-areas: 
        'photo'
        'about-me';
    }
  }

.photo {
    padding: 5%;
}

#photo {
    background-image: url('../self-photo.jpeg');
    background-position: center;
    background-size: contain;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.about-me { 
    padding: 0% 5%;
    padding-bottom: 5%;
}

/* ------------------------------ EDUCATION ------------------------------ */
.edu {
    width: 100%;
    grid-area: edu;
    display: grid;
    grid-template-areas: 
        'title title'
        'school school';
    padding: 0% 5%;
}

.school {
    grid-area: school;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
    .school { 
        grid-template-columns: none;
    }
  }
