@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

/* ------------------------------ FULL PAGE ---------------------------- */
body {
    background-color: #F7ECDE;
    margin: 0;
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main-page';
}

/* ------------------------------ NAV BAR ------------------------------ */
.nav-bar {
    grid-area: header;
    height: 6vh;
    top: 0;
    position: sticky;
    display: flex;
    font-size: 2vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #54BAB9;
}

@media (max-width: 600px) {
    .nav-bar {
        font-size: 2.6vw;
        height: 40px;
        ;
    }
}

.nav-bar ul {
    padding-inline-start: 0;
}

.nav-bar a {
    color: #F7ECDE;
    text-decoration: none;
}

.nav-bar li {
    display: inline-block;
    margin-right: 5vw;
    margin-left: 5vw;
    transition: ease-in .5s;
}

.nav-bar li:hover {
    background-color: grey;
    transform: scale(1.1);
}

.current-page {
    text-decoration: underline;
}

/* ------------------------------ MAIN PAGE ------------------------------ */
.main-page {
    grid-area: main-page;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    padding-top: 1vh;
    ;
}

@media (max-width: 600px) {
    .main-page {
        grid-template-columns: none;
        grid-template-areas:
            'photo'
            'about-me';
    }
}

.photo {
    padding: 5%;
}

#photo {
    background-image: url('../self-photo.jpeg');
    background-position: center;
    background-size: contain;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.about-me {
    border: 5%;
    width: 90%;
    margin: auto;
}

/* ------------------------------ EDUCATION ------------------------------ */
.edu {
    width: 100%;
    display: grid;
    grid-template-areas:
        'title title'
        'school school';
    border: 5%;
    width: 90%;
    margin: auto;
}

.edu h2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.school {
    grid-area: school;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
    .school {
        grid-template-columns: none;
    }
}